<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.iyuhao.mapper.BlogArticleMapper">

    <resultMap id="BaseResultMap" type="top.iyuhao.entity.BlogArticle">
            <id property="blogArticleId" column="blog_article_id" jdbcType="VARCHAR"/>
            <result property="blogArticleTitle" column="blog_article_title" jdbcType="VARCHAR"/>
            <result property="blogCategoryName" column="blog_category_name" jdbcType="VARCHAR"/>
            <result property="blogArticleCover" column="blog_article_cover" jdbcType="VARCHAR"/>
            <result property="blogArticleSummary" column="blog_article_summary" jdbcType="VARCHAR"/>
            <result property="blogArticleContent" column="blog_article_content" jdbcType="VARCHAR"/>
            <result property="blogArticleMarkdownContent" column="blog_article_markdown_content" jdbcType="VARCHAR"/>
            <result property="blogArticleEditorType" column="blog_article_editor_type" jdbcType="VARCHAR"/>
            <result property="blogSpecialId" column="blog_special_id" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="blogArticleAllowComment" column="blog_article_allow_comment" jdbcType="INTEGER"/>
            <result property="blogStatusName" column="blog_status_name" jdbcType="VARCHAR"/>
            <result property="blogArticleGoodNumber" column="blog_article_good_number" jdbcType="INTEGER"/>
            <result property="blogArticleViewsNumber" column="blog_article_views_number" jdbcType="INTEGER"/>
            <result property="blogArticleFavoriteNumber" column="blog_article_favorite_number" jdbcType="INTEGER"/>
            <result property="blogArticleAddTime" column="blog_article_add_time" jdbcType="TIMESTAMP"/>
            <result property="blogArticleUpdateTime" column="blog_article_update_time" jdbcType="TIMESTAMP"/>
            <result property="blogCategoryIsDeleted" column="blog_category_is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        blog_article_id,blog_article_title,blog_category_name,
        blog_article_cover,blog_article_summary,blog_article_content,
        blog_article_markdown_content,blog_article_editor_type,blog_special_id,user_id,
        user_name,blog_article_allow_comment,blog_status_name,
        blog_article_good_number,blog_article_views_number,blog_article_favorite_number,
        blog_article_add_time,blog_article_update_time,blog_category_is_deleted
    </sql>
</mapper>
