<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.iyuhao.mapper.CommentReplyMapper">

    <resultMap id="BaseResultMap" type="top.iyuhao.entity.CommentReply">
            <id property="commentReplyId" column="comment_reply_id" jdbcType="VARCHAR"/>
            <result property="commentId" column="comment_id" jdbcType="VARCHAR"/>
            <result property="replyUserId" column="reply_user_id" jdbcType="VARCHAR"/>
            <result property="secondlyUserId" column="secondly_user_id" jdbcType="VARCHAR"/>
            <result property="commentReplyCreateTime" column="comment_reply_create_time" jdbcType="TIMESTAMP"/>
            <result property="commentReplyIsDeleted" column="comment_reply_is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        comment_reply_id,comment_id,reply_user_id,
        secondly_user_id,comment_reply_create_time,comment_reply_is_deleted
    </sql>
</mapper>
